@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&display=swap');

:root{
    --cor-de-fundo: #000000; 
    --cor-de-contraste: #51ff00;
    --branco: #FFFFFF;
    --botao-ativo: #074b00;
    --botao-inativo: rgba(1, 29, 3, 0.5);
    --texto-fundo: rgba(2, 36, 7, 0.74);
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--branco);
    font-family: 'Chakra Petch','Sans Serif';
    
}

.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.titulo-principal{
    text-align: left;
    width: 100%;
    font-size: 32px;
}

.titulo-principal span{
    color: var(--cor-de-contraste);

}

.botao{
    font-family: 'Chakra Petch','Sans Serif';
    background-color: var(--botao-inativo);
    color: var(--branco);
    display: flex;
    justify-content: center;
    padding: 1em;
    font-size: 18px;
    align-items: center;
    width: 100%;
    border-bottom: 4px solid var(--botao-ativo);
    border-left: 2px solid var(--botao-ativo);
    border-right: 2px solid var(--botao-ativo);
    border-top: none;
}

.ativo{
    background-color: var(--botao-ativo);
    border-bottom: 4px solid var(--cor-de-contraste);
}

.botao:first-child{
    border-radius: 40px 40px 0 0;
}

.botoes{
    display: block;
}

.aba-conteudo{
    display: none;
    background-color:var(--texto-fundo);
    padding: 40px;
    border-radius: 0 0 40px 40px;
}

.aba-conteudo-ativo{
    background-color:var(--texto-fundo);
    padding: 40px;
    border-radius: 0 0 40px 40px;
    display: block;
}

.lista-plano-itens{
    align-items: center;
    display: inline;
    padding: 23px;
}

.lista-curso-itens{
    display: inline;
    padding: 23px;
}

.lista-espectativas-itens{
    display: inline;
    padding: 23px;
}

.lista-empresa-itens{
    display: inline;
    padding: 23px;
    text-align: center;
}



.titulo-primario{
    text-align: center;
    color: #51ff00;
    text-transform: uppercase;
}

.aba-conteudo-titulo-principal{
    font-size: 28px;
    text-align: center;
}



.aba-conteudo-titulo-secundario{
    font-size: 28px;
    text-align: center;
}


.aba-conteudo-titulo-terciario{
    font-size: 28px;
    text-align: center;
}


.aba-conteudo-titulo-quartenario{
    font-size: 28px;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .botoes{
        display:flex ;
    }
    .botao:first-child{
        border-radius: 40px 0 0 0;
    }
    .botao:last-child{
        border-radius: 0px 40px 0 0 ;
    }

}